<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bem vindo a Urna Digital !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Eleições 2022</ion-card-title>
      <ion-card-subtitle>Justiça Eleitoral</ion-card-subtitle>      
    </ion-card-header>
    <ion-img src ="https://www.tse.jus.br/imagens/fotos/titulo-de-eleitor-17-05-2021/@@images/675370e6-92a5-424f-8e1a-aea28ff44c35.jpeg" ></ion-img>
    <ion-card-content>
      As Eleições gerais do Brasil em 2022 irão começar no dia 2 de outubro, devido motivos de readaptação de motivos pós <strong>pandemia da COVID-19</strong>, o voto este ano terá acesso  remoto a todos que lutam pelo país ir a frente e continuar se desenvovendo, aqui você encontrará os principais candidatos a serem eleitos,  vá para a página da <strong>Urna</strong> para fazer o seu respectivo voto sem sair do conforto de sua residência, o País agradece sua participação cidadão ! 
    </ion-card-content>
  </ion-card>

</ion-content>

 